@tailwind base;
@tailwind components;
@tailwind utilities;

/* ********* Custom Font Definition ********* */
@font-face {
	font-family: "SourceCodePro-Regular";
	src: url("/fonts/SourceCodePro-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "SourceCodePro-Italic";
	src: url("/fonts/SourceCodePro-Italic.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "SourceCodePro-Bold";
	src: url("/fonts/SourceCodePro-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "SourceCodePro-BoldItalic";
	src: url("/fonts/SourceCodePro-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}
/* ****************************************** */

/* ********* App Font ********* */
body {
	/* font-family: "AveriaSerifLibre-Regular", "sans-serif"; */
	font-family: "SourceCodePro-Regular", Courier, monospace;
}
/* **************************** */
